<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
	  <title> Ademe - DataBât</title>
	  <script data-id="matomo-tracking" data-matomo-tracking-url="https://matomo.datactivist.coop" data-matomo-tracking-id="1" src="/js/matomo-tracking.min.8309b0e0465f4f5ca709389867bedebc7dc7dfc01ddf1834928dbb5384752265.js" defer=""></script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
	  	<img src="./banniere_databat.jpeg" style="max-width:100%" />
    <section class="page-header">

      <h1 class="project-name">Les projets du concours DataBât</h1>
	    

La galerie qui suit vous permet de retrouver l'ensemble des productions de chaque équipe lors des différentes épreuves.

	   
	  </section>
<iframe class="airtable-embed" src="https://airtable.com/embed/shrMA0sIvkm7PzK7E?backgroundColor=blue" frameborder="0" onmousewheel="" width="100%" height="800" style="background: transparent; border: 1px solid #ccc;"></iframe>
									
    <footer class="site-footer">
	    
    <section class="main-content" id="main">
      {{ content }}
	    </section>
	    </footer>

  </body>
</html>
