<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
	  <title>Candidature à l'offre d'apprentissage science ouverte</title>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
<script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrLJHBjE2bCLEN9P?backgroundColor=orange" frameborder="0" onmousewheel="" width="100%" height="2878" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </body>
</html>
